.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    
}

.search-img {
    width: 30%;
    margin: 60px;
}

h2 {
    font-size: 14px;
    font-weight: 300;
}