.search-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin: 20px 0;
  }

.search-container input {
  width: 300px;
  border-radius: 5px 0px 0 5px;
  border: 2px solid #ccc; 
}

.search-container button {
  border-radius: 0px 5px 5px 0px;
  cursor: pointer; 
  background-color: #ffaa00df; 
  color: white; 
  border-color: #ffaa00df; 
}

.search-container input,
.search-container button {
  padding: 10px;
  font-size: 16px; 

}


.search-container input:focus,
.search-container button:focus {
  outline: none; 
}


.search-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px
}

.search-time, .corrected-query {
  font-size: 12px;
  color: rgb(117, 115, 115);
  margin: 10px 0 40px 0;
}



.corrected-query {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px
}

.corrected-query a {
  color: #ffaa00ee;
  cursor: pointer;
}

  
.images-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}
  
.images-container div {
    flex-basis: calc(33.333% - 10px); 
    display: flex;
    justify-content: center; 
}
  
.images {
    max-width: 100%; 
    height: auto;
    max-height: 200px;
}